
.App {
  background-color: black;
  overflow-x: hidden;
  }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  max-height: 12vw;
}
header img {
  max-height: 20px;
}
header a {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
}
header a:hover {
  color: pink;
  transition: color .25s;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: black;
  max-height: 12vw;
}
footer img.mute {
  height: 50px;
  max-height: 8vw;
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(-120%);
}

.overlap {
  position: relative;
  transform: translateY(75%);
  z-index: 8;
}
.Landing {
  text-align: center;
  max-width: 100vw;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}

.ScrollContent {
  text-align: center;
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;
  z-index: 6;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;

  padding-bottom: 100px;
}
.ScrollContent h1 {
  color: white;
  z-index: 6;
  flex: 1 0 100%;
}
.ScrollContent a, .ScrollContent img.third {
  z-index: 6;

  flex: 0 1 100%;
  overflow: hidden;
  align-self: flex-start;
  height: 600px;
}
.ScrollContent img {
  object-fit: contain;
}
.ScrollContent img.third {
  flex: 1 1 auto;
  max-height: 500px;
  max-width: 300px;
  object-fit: cover;
}

/*.merch {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.merch a {
  z-index: 5;
  flex: 1 1 30%;
  padding: 10px;
  height: 200px;
}
.merch img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}*/

.content div {
  margin-bottom: 20px;
}

.merch img {
  max-width: 100%;
}

.merch a {
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
  color: transparent;
  font-size: 5em;
  margin: 0;
  padding: 0 40px;
  font-size: 3em;
}
.overlay:hover {
  color: white;
  background-color: rgba(0,0,0,.15);
}
h1 {
  font-size: 5em;
  letter-spacing: .1em;
  color: white;
  font-family: "Helvetica Neue";
  align-self: flex-start;
  font-style: italic;
}

.title-block {
  position: absolute;
  top: -0;
  max-width: 100vw;
  /*transform: scale(.5) perspective(300px) rotateX(10deg) rotateY(5deg);*/
  pointer-events: none;
}

.video {
  height: 4000px;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  /*pointer-events: none;*/
}

.top-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.top-block h2 {
  color: transparent;
  font-family: "Arial";
  font-weight: 800;
  letter-spacing: 2px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 2px white;
}

.three canvas {
  transform: none;
  /*transition: transform 1s;*/
}

.three canvas {
  /*max-width: 800px;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.flipping, .three {
  perspective: 1000px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  perspective-origin: center 30vh;
  overflow: hidden;
}

.flipping canvas {
  transform-origin: center center;
  transform: rotateX(40deg);
  transform-style: preserve-3d;
  /*transition: transform 1s;*/
}

.toyboy {
  width: 705px;
  max-width: 90vw;
  position: relative;
  padding: 20px;
}

.cake {
}

.fullScreen {
  width: 100vw;
  height: 500px;
  z-index: 7;
  overflow: hidden;
}
.fullScreen img {
  z-index: 7
}

.vid {
  max-width: 60vw;
  transform: perspective(400px) rotateY(10rad);
}

.vid2 {
  max-width: 40vw;
  transform: perspective(400px) rotateY(-10rad);
  position: absolute;
  left: 40vw;
  top: 20vw;
}

iframe {
  max-width: 90vw !important;
}
iframe .play-bar, iframe .play-button {
  display: none;
}

@media (max-width: 960px) {
  header a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
