.App {
  background-color: black;
  }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
header img {
  max-height: 20px;
}

.Landing {
  text-align: center;
  max-width: 100vw;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}

.ScrollContent {
  text-align: center;
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;
  z-index: 6;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;

  padding-bottom: 100px;
}
.ScrollContent h1 {
  color: white;
  z-index: 6;
  flex: 1 0 100%;
}
.ScrollContent a, .ScrollContent img.third {
  z-index: 6;

  flex: 0 1 100%;
  overflow: hidden;
  align-self: flex-start;
  height: 600px;
}
.ScrollContent img {
  object-fit: contain;
}
.ScrollContent img.third {
  flex: 1 1 auto;
  max-height: 500px;
  max-width: 300px;
  object-fit: cover;
}

h1 {
  font-size: 4vw;
  letter-spacing: .1em;
  color: rgba(195, 59, 134, .5);
  font-family: "Helvetica Neue";
  align-self: flex-start;
}

.title-block {
  position: absolute;
  top: -0;
  max-width: 100vw;
  /*transform: scale(.5) perspective(300px) rotateX(10deg) rotateY(5deg);*/
  pointer-events: none;
}

.video {
  height: 4000px;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  /*pointer-events: none;*/
}

.top-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.top-block h2 {
  color: transparent;
  font-family: "Arial";
  font-weight: 800;
  letter-spacing: 2px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 2px white;
}

.three, .three canvas {
  z-index: 0;
}

.three canvas {
  transform: none;
  /*transition: transform 1s;*/
}

.three canvas {
  /*max-width: 800px;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.flipping, .three {
  perspective: 1000px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  perspective-origin: center 30vh;
  overflow: hidden;
}

.flipping canvas {
  transform-origin: center center;
  transform: rotateX(40deg);
  transform-style: preserve-3d;
  /*transition: transform 1s;*/
}

.toyboy {
  width: 705px;
  max-width: 90vw;
  position: relative;
  padding: 20px;
}

.cake {
}

.fullScreen {
  width: 100vw;
  height: 500px;
  z-index: 7;
  overflow: hidden;
}
.fullScreen img {
  z-index: 7
}

.vid {
  max-width: 60vw;
  transform: perspective(400px) rotateY(10rad);
}

.vid2 {
  max-width: 40vw;
  transform: perspective(400px) rotateY(-10rad);
  position: absolute;
  left: 40vw;
  top: 20vw;
}

iframe .play-bar, iframe .play-button {
  display: none;
}

@media (max-width: 768px) {
  header {
    justify-content: center;
  }
}
