@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');


.App {
  background-color: black;
  overflow-x: hidden;
  }

  a {
    font-family: "Helvetica-Bold", sans-serif;
    font-weight: 400;
}
h2 {
  font-family: "Helvetica-Bold", sans-serif;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  max-height: 12vw;
}
header img {
  max-height: 20px;
}
header a, header a:visited, header a:link, header a:active {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  /*font-style: italic;*/
  cursor: pointer;
  font-weight: 500;
  letter-spacing: .06em;
  transform: scaleY(1.17);
  text-decoration: none;
}
header a:hover {
  color: white;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: black;
  max-height: 12vw;
}
footer img.mute {
  height: 40px;
  max-height: 10vw;
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(-120%);
  cursor: pointer;
}

.overlap {
  position: relative;
  transform: translateY(50%) scaleY(1.17);
  z-index: 7;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 9em;
}
.Landing {
  text-align: center;
  max-width: 100vw;
  background-color: black;
  height: 100vh;
  top: 70px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}

.ScrollContent {
  text-align: center;
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;
  z-index: 6;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;

  padding-bottom: 100px;
}
.ScrollContent h1 {
  color: white;
  z-index: 6;
  flex: 1 0 100%;
}
.ScrollContent a, .ScrollContent img.third {
  z-index: 6;

  flex: 0 1 100%;
  overflow: hidden;
  align-self: flex-start;
  height: 600px;
}
.content div {
  margin-bottom: 20px;
}

.merch img {
  max-width: 100%;
}

.merch a {
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /*font-style: italic;*/
  color: transparent;
  font-size: 5em;
  margin: 0;
  padding: 0 40px;
  font-size: 2em;
  font-family: "Helvetica-Bold", sans-serif;
  font-weight: 400;
  transform: scaleY(1.17);
}
.overlay:hover {
  color: white;
  background-color: rgba(0,0,0,.15);
}
h1 {
  font-size: 5em;
  /*letter-spacing: .1em;*/
  color: white;
  font-family: "Helvetica-Bold";
  align-self: flex-start;
  /*font-style: italic;*/
  font-weight: 400;
  letter-spacing: .04em;
  transform: scaleY(1.17);
}

.merch, .vimeo {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 20px;
}

.title-block {
  position: absolute;
  top: -0;
  max-width: 100vw;
  /*transform: scale(.5) perspective(300px) rotateX(10deg) rotateY(5deg);*/
  pointer-events: none;
}

.video {
  height: 4000px;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  /*pointer-events: none;*/
}

.top-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.top-block h2 {
  color: transparent;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-text-stroke: 1px white;
}

.three canvas {
  transform: none;
  /*transition: transform 1s;*/
}

.three canvas {
  /*max-width: 800px;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.flipping, .three {
  perspective: 1000px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  perspective-origin: center 30vh;
  overflow: hidden;
}

.flipping canvas {
  transform-origin: center center;
  transform: rotateX(40deg);
  transform-style: preserve-3d;
  /*transition: transform 1s;*/
}

.toyboy {
  width: 705px;
  max-width: 90vw;
  position: relative;
  padding: 20px;
}

.cake {
}

.fullScreen {
  width: 100vw;
  height: 500px;
  z-index: 7;
  overflow: hidden;
}
.fullScreen img {
  z-index: 7
}

.vid {
  max-width: 60vw;
  transform: perspective(400px) rotateY(10rad);
}

.vid2 {
  max-width: 40vw;
  transform: perspective(400px) rotateY(-10rad);
  position: absolute;
  left: 40vw;
  top: 20vw;
}

.shop {
  margin-top: 70px;
}
.iframe-container {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;
}
iframe {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
iframe .play-bar, iframe .play-button {
  display: none;
}

.About__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
}
.About {
  flex: 0 1 auto;
  background-color: black;
  width: 700px;
  height: 500px;
  z-index: 8;
  left: 0;
}
.About__Container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex: 1 1 auto;
  height: 100vh;
  background-color: black;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  header a {
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  header a {
    font-size: 13px !important;
  }
  body {
    font-size: 8px;
  }

}
