.App {
  text-align: center;
  max-width: 100vw;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h1 {
  font-size: 4vw;
  letter-spacing: .2em;
  color: rgba(195, 59, 134, .5);
  -webkit-text-stroke: 2px rgb(240, 229, 133);
  font-family: "Helvetica Neue";
  align-self: flex-start;
}

.title-block {
  position: absolute;
  top: -0;
  max-width: 100vw;
  /*transform: scale(.5) perspective(300px) rotateX(10deg) rotateY(5deg);*/
  pointer-events: none;
}

.video {
  height: 4000px;
}

.logo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  pointer-events: none;
}

.three canvas {
  /*max-width: 800px;*/
  max-height: 60vh;
  max-width: 100vw;
}

.toyboy {
  width: 705px;
  max-width: 90vw;
  position: relative;
}

.vid {
  max-width: 60vw;
  transform: perspective(400px) rotateY(10rad);
}

.vid2 {
  max-width: 40vw;
  transform: perspective(400px) rotateY(-10rad);
  position: absolute;
  left: 40vw;
  top: 20vw;
}

iframe .play-bar, iframe .play-button {
  display: none;
}
